body {
  background-image: url('images/wall.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}   

a:link {
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:active {
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:visited {
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:hover {
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 1;
}