body {
    background-image: url('images/7k7k.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #222;
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full height of the viewport */
}   

a:link {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:active {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:visited {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:hover {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 1;
}

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
}