body {
    background-color: blue;
    background-image: url('../images/map.png');
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 100vh;
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

marquee {
    height: 100vh;
    width: 100%;
}

img {
    width: 800px;
    height: auto;
}