body {
  background-image: url('../images/winnie.png');
  background-repeat: repeat;
  background-size: 300px;
  height: 100vh; 
  overflow-y: auto;    
}   

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
}